<h1> Edit This Accessory</h1>

<h1> Add an Accessory to the Database</h1>

<form action="/accessories/{{theAccessory._id}}/update" method="POST" enctype="multipart/form-data">

<div>
    Image:
    <input type="file" name="img">
</div>

<div>
    Title: 
    <input type="text" name="accessoryTitle">
</div>

<div>

<label for="description">Description:</label>
<textarea id="description" name"accessoryDescription">{{description}}</textarea>
</div>

<div>
    Price: 
    <input type="number" name="accessoryPrice">
</div>

<button>Save</button>

</form>