nav{
    padding: 10px;
    background-color: darkorange;
  
}

body{
    padding: 20px;
    font:  15px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: bisque;
}

a{
    color: grey;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

