<h1> Signup Now!</h1>

<div class ="signup-container">

<form action="/signup" method="POST">

<div id="signup-box">
<div>
    Username: 
    <input type="text" name="username">
</div>

<div>
    Email: 
    <input type="email" name="email">
</div>

<div>
    Password:
    <input type="password" name="password">
</div>
</div>

<button>Submit</button>
</div>
</form>