


{{#each chat.messages}}
    <div>
        <h3>From: {{this.sender.username}}</h3>
        <p>Message: {{this.message}}</p>
        <p>Sent: {{this.timestamp}}</p>
    </div>
{{/each}}

<a href="/chats/{{chat._id}}/messages">Reply</a>