    <div class="newmessage-container">
    <form action="/users/{{user._id}}/chats" method="post">
        <label for="recipientId">Recipient:</label>
        <select id="recipientId" name="recipientId" required>
            {{#each users}}
                <option value="{{this._id}}">{{this.username}}</option>
            {{/each}}
        </select><br>
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br>
        <input type="submit" value="Send Message">
        </div>
    </form>